.bringinReviewHeading {
  font-size: 32px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--mainColorTheme);
}

.bringinReviewFormLabel {
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  font-weight: normal;
}

.bringinReviewRecordBtns {
  background-color: var(--mainColorTheme);
  color: white;
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 5px;
  padding: 0.75rem 1.25rem;
  font-weight: normal;
  transition: background-color 250ms;
}
.bringinReviewRecordBtns:hover{
    background-color: #46885c;
}

#bringinReviewSubmitBtn {
  background-color: var(--mainColorTheme);
  color: white;
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 5px;
  padding: 0.75rem 1.25rem;
  font-weight: normal;
}
#bringinReviewSubmitBtn:hover{
    background-color: #46885c;
}

.bringinReviewThankyou{
  font-size: 32px;
  font-weight: bold;
  color: var(--mainColorTheme);
  border: 1px solid var(--mainColorTheme);
  border-radius: 5px;
  padding:  20px;
  background-color: azure;
}