
@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --mainColorTheme : #35754A;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bringinCustomTextColor{
    color:  red !important;
}
.bringinCustomErrorText{
    color: red !important;
}

#bringinReviewForm{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100px;
    transition: min-height 1s;
}